{% extends "layout.html" %}

{% block content %}
 <h1>Thank You, {{name}} for Registering</h1>
   <h2>You will start receiving the newsletter</h2>
        <p></p>
        <p>Here is a list of other members in the group.</p>
        <table>
         
         {% for member in members_list %}
          <tr><td><b><body link="blue"></body><a href="mailto:"{{member[3]}}><font color=42bcf4>{{member[1]}}</font></b><font color=BD430B><b>{{member[2]}}</body></b></font></a></td><td>{{member[4]}} {{member[5]}}</td></tr>
         {% endfor %}
        </table>
        <p></p><p>Happy Motoring!</p>
        <p>-Jacques</p>
{% endblock %}

