{% extends "layout.html" %}
{% block content %}
    <h1>Online Market &amp; Swap Meet<font color="orange"></h1>
    <h2>Search for cars or parts you are looking for here!</h2>
    <form method="GET" action="/market">
        Search: <input type="text" name="search" value="" maxlength="140" size="100" /><br />
    </form>
    <p></p>
    <!-- config is a list holder normal table values for such attbrs:
    borders
    heading values
    -->
    <table border={{config['boarders']}} width="900">
        <tr>
            <!--Search result headers are being contained in variables as to remain invisable before search inquiry has been made.-->
            <th width="70%">{{config['header_01']}}</th> <!--search result string-->
            <th width="30%">{{config['header_02']}}</th> <!--corresponding price-->
            <!--time permitting make a picture and contact heading-->
        </tr>
        {% for post in results %}
            <tr>
                <td>{{search_results.description}}</td>
                <td>{{search_results.price}}</td>
            </tr>
        {% endfor %}
    </table>
    <p>-Jacques Troussard</p>
    <p></p>
    <p></p>
    <p>A test <a href="/error">link</a> for the error page.</p>
{% endblock %}